*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patrick Hand', cursive; 
}

body{

    background-image: url("");
}

h1{
     font-family: 'Patrick Hand', cursive; 
}

